h1 {
  text-align: center;
  color: blue;
  background-color: greenyellow;
  border-style: double;
  border-color: black;
}

h2 {

  text-align: left;
  color: rgb(172, 13, 45);
  background-color: aqua;
  border-style: dotted;
  border-radius: 0vmax;
  border-color: black div;
  width: 200px;
  height: 50px;
  padding: 5px;
  margin: 30px;


}

images {}

h3 {
  color: blue;
  border-style: dotted;
  background-color: coral;
  width: 300px;

}